#header-box {
    width: 828px;
    height: 200px;
    z-index: 10;
    position: relative;
}

#header-logo {
    width: 318px;
    height: 76px;
    z-index: 11;
    position: absolute;
    left: 41px;
    top: 47px;
}

#nav-lines {
    width: 728px;
    height: 29px;
    z-index: 18;
    position: absolute;
    border-top: solid #000000 1px;
    border-bottom: solid #000000 1px;
    text-align: left;
    top: 149px;
    left: 0px;
}

.white {
  background-color: white;
}

li {
  display: inline;
  margin-left: 10px;
}

a {
  color: black;
  font-family: Verdana;
  font-size: 14px;
}

a:hover {
  color: red;
}

.vert-bar {
  color: lightgrey;
  line-height: 31px;
}

body {
    background-image: url("http://nzalaw.com/images/nza_background.jpg");
    background-attachment: fixed;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#cont-edges {
    width: 940px;
    z-index: 2;
    text-align: left;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
}

#cont-edges-sides {
    width: 940px;
    z-index: 4;
    text-align: left;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
}

.container {
    width: 980px;
    z-index: 9;
    text-align: left;
    margin: 0 auto;
    padding-left: 56px;
    padding-right: 56px;
}

#cont-edges-bot {
    width: 940px;
    z-index: 5;
    height: 20px;
    background: transparent;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
}


.red {
  background-color: #84220B;
  color: white;
}

span {
  font-weight: bold;
}

.center {
  text-align: center;
}

.shadow {
    box-shadow:20px 20px 50px grey;
}

.redbox {
    width: 300px;
    height: 360px;
    border: 1px #84220B;
}

.bottom {
  width: 898px;
  background-color: white;
}

.push-left {
  margin-left: 20px;
}
