{% extends 'bootstrap/base.html' %}

{% block title %}
My Project - Lawsite
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="../static/css/main.css">
{% endblock %}

{% block navbar %}
<div class="container">
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      {% if current_user.is_anonymous %}
      <li><a href="{{ url_for('login') }}">Login</a></li>
      <li><a href="{{ url_for('register') }}">Register</a></li>
      {% else %}
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
      {% endif %}
    </ul>
    {% if current_user.is_authenticated %}
  <p class="navbar-text pull-right">Hi {{ current_user.username }}!</p>
  {% endif %}
  </nav>
    <div class="row white">
      <div id="cont-edges">
        <div id="cont-edges-sides">
            <div id="header-box">
              <div id="header-logo">
                <div class="col-md-6">
              <a href="/index">
                <img src="http://placehold.it/318x76">
              </a>
                </div>
              </div> <!--- end head logo -->
              <div id="nav-lines">
                <ul>
                  <li> <a href="/who">WHO WE ARE</a></li>
                  <li class="vert-bar">|</li>
                  <li><a href="/what">WHAT WE DO</a></li>
                  <li class="vert-bar">|</li>
                  <li><a href="/news">NEWS & EVENTS</a></li>
                  <li class="vert-bar">|</li>
                  <li><a href="/where">WHERE WE WORK</a></li>
                  <li class="vert-bar">|</li>
                  <li><a href="/contact">CONTACT US</a></li>

                </ul>
              </div>
            </div>
          </div>

          {% endblock %}

          {% block content %}
            {% block app_content %}{% endblock %}
          </div>
        </div>
      </div>


          <link rel="stylesheet" href="../css/main.css">
          <footer class="center ">
            <p> ____________________________________________________________________________________ </p>
            HOME — WHO WE ARE — WHAT WE DO — NEWS & EVENTS — WHERE WE WORK — CONTACT
            <br></br>
            <p class=" vert-bar thick small-text"> ©2009 Nielsen, Zehe & Antas, P.C.   //   Website Design by OneTen Creative </p>
          </footer>

          {% endblock %}
