{% extends 'base.html' %}

{% block app_content %}
<div class="row">
  <div class="push-left container col-md red redbox4">
    NEWS & EVENTS <br> ___________ </br>
    Current <br></br>
    Archive <br></br>
      <img class ="prevent further-right" src="http://placehold.it/156x94" alt="Image">
      Directions /  Parking
      <p class="small-text">Where to find us<br></br>
        More stuff
      <p>
       </div>

  <div class="col-md-7 marg-right">
      <table>
      <tr>
        <td><img src="http://placehold.it/300x118" alt="Image"></td>
      </tr>
    </table>
   </div>
   <div class="marg-right pad-left">
    <p class="pad-left"> The office hours are 8am – 5pm Monday through Friday <br><br>
    55 Somewhere St <br>
    Suite 180 <br>
    Bos, MA <br>
    <br>
    555-555-5555 <br>
    444-444-4444 <br> <br>
    Contact Matthew Hasson at mh@hi.com
    </div>
   </div>
  </div>
</div>
</div>


{% endblock %}
