{% extends 'base.html' %}

{% block app_content %}
<div class="row">
  <div class="col-md-7">
    <div class = "push-left bord-img">
    <img src="http://placehold.it/483x360" alt="Image"> </div>
    <div class="push-left">
     <p class="thick"> Welcome to our website!</p>

      <p>Nielsen, Zehe & Antas, PC is a nationally recognized and respected law firm that offers its clients big firm experience and talent in a smaller firm environment. Our reputation is very important to us. We solve our client’s problems in some situations and prevent them all together in other situations. We welcome you to our website to learn more about us. </p>
    </div>
  </div>

    <div class="col-md-5 red redbox1">
      News Feed <br> _______________________ </br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

{% endblock %}
