{% extends 'base.html' %}

{% block app_content %}


<div class="row">
  <div class="push-left container col-md red redbox4">
    NEWS & EVENTS <br> ___________ </br>
    Current <br></br>
    Archive <br></br>
      <img class ="prevent further-right" src="http://placehold.it/156x94" alt="Image">
      Directions /  Parking
      <p class="small-text">Where to find us<br></br>
        More stuff
      <p>
       </div>
      </div>
  <div class="col-md-7 marg-right">
      <table>
      <tr>
        <td><img src="http://placehold.it/300x118" alt="Image"></td>
      </tr>
    </table>
   </div>
   <div class="marg-right pad-left">
    <p class="thick pad-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis maiores ducimus et atque deserunt itaque commodi porro vitae. Natus quidem dolorum ab excepturi doloremque quibusdam dolores esse consequatur dicta animi. </p>   <p class="pad-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><br></br>
    <p class="thick pad-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis maiores ducimus et atque deserunt itaque commodi porro vitae. Natus quidem dolorum ab excepturi doloremque quibusdam dolores esse consequatur dicta animi. </p>   <p class="pad-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><br></br>
    <p class="thick pad-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis maiores ducimus et atque deserunt itaque commodi porro vitae. Natus quidem dolorum ab excepturi doloremque quibusdam dolores esse consequatur dicta animi. </p>   <p class="pad-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><br></br>
    <p class="thick pad-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis maiores ducimus et atque deserunt itaque commodi porro vitae. Natus quidem dolorum ab excepturi doloremque quibusdam dolores esse consequatur dicta animi. </p>   <p class="pad-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><br></br> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    <p class="pad-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p><br></br>
    <p class="thick pad-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis maiores ducimus et atque deserunt itaque commodi porro vitae. Natus quidem dolorum ab excepturi doloremque quibusdam dolores esse consequatur dicta animi. </p>
    <p class="pad-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
</div>
</div>
</div>
</div>

{% endblock %}
