{% extends 'base.html' %}

{% block app_content %}

<div class="marg-right pad-left">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis maiores ducimus et atque deserunt itaque commodi porro vitae. Natus quidem dolorum ab excepturi doloremque quibusdam dolores esse consequatur dicta animi.
</div>
<div class="row">
<div class="push-left  col-md red redbox3">
  <p>
  WHAT WE DO <br> ___________ </br>
  Subrogation
  <p class="small-text">Workers <br></br>
    Stuff <br></br> <p>
  Litigation <p class="small-text">Stuff <br></br>
    Compenstation <br></br> <p>
  Business <br></br>
</p>
    <img class ="prevent" src="http://placehold.it/156x94" alt="Image">
    Attorneys
    <p class="small-text">Meet our associates, etc. <br></br>
      More stuff<p> </div>
    </div>
<div class="col-md-7 marg-right">
    <table>
    <tr>
      <td><img src="http://placehold.it/300x118" alt="Image"></td>
      <td><img src="http://placehold.it/300x118" alt="Image"></td>
    </tr>
    <tr>
      <td><img src="http://placehold.it/300x118" alt="Image"></td>
      <td><img src="http://placehold.it/300x118" alt="Image"></td>
    </tr>
  </table>
 </div>
</div>

{% endblock %}
