{% extends 'base.html' %}

{% block app_content %}
<div class="row">
<div class="push-left col-md red redbox5">
WHERE WE WORK <br> ___________ </br>
United States
<img class ="prevent further-right" src="http://placehold.it/156x94" alt="Image">
Career Oportunities
<p class="small-text">Join our magnificent firm. <p>
</div>
</div>
<div class="col-md-7 marg-right">

</div>
<div class="marg-right">
<div class="row">
<p class="pad-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis maiores ducimus et atque deserunt itaque commodi porro vitae. Natus quidem dolorum ab excepturi doloremque quibusdam dolores esse consequatur dicta animi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci suscipit rerum corporis mollitia sit nulla voluptates eius earum molestias, ut et sapiente, officia illo ea saepe deserunt obcaecati reprehenderit quos.</p>
<span> UNITED STATES <br></br>
_______________________________________________________________________
</span>
<div class="col-md-4 state">Alabama <br></br>
    Alaska </h6>
    Arizona<br> </br>
    Arkansas<br> </br>
    California<br> </br>
    Colorado<br> </br>
    Connecticut<br> </br>
    Florida<br> </br>
    Georgia <br> </br>
    Hawaii<br> </br>
    Idaho <br> </br>
    Illinois <br> </br>
    Indiana<br> </br>
    Iowa<br> </br>
    Kansas<br> </br>
    Kentucky<br> </br>
    Louisiana<br> </br>
</div>
<div class="col-md-4 state">
    Maine<br></br>
    Maryland<br></br>
    Massachusetts<br></br>
    Michigan<br></br>
    Minnesota<br></br>
    Mississippi<br></br>
    Missouri<br></br>
    Montana<br></br>
    Nebraska<br></br>
    Nevada<br></br>
    New Hampshire<br></br>
    New Jersey<br></br>
    New Mexico<br></br>
    New York<br></br>
    North Carolina<br></br>
    North Dakota<br></br>
    Ohio
</div>
<div class="col-md-4 state">
    Oklahoma<br></br>
    Oregon<br></br>
    Pennsylvania<br></br>
    South Carolina<br></br>
    South Dakota<br></br>
    Tennessee<br></br>
    Texas<br></br>
    Utah<br></br>
    Vermont<br></br>
    Virginia<br></br>
    Washington<br></br>
    West Virginia<br></br>
    Wisconsin <br></br>
    Wyoming
</div>
</div>
<!-- <p class="space"> Alabama Maine Oklahoma </p>
<p class="space"> Alaska Maryland Oregon </p>
<p class="space"> Arizona Mass Pennsylvania </p>
<p class="space"> Arkansas Michigan South_Carolina <p>
</p> -->
</div>
</div>
</div>
</div>
<!-- middle section -->

{% endblock %}
