{% extends 'base.html' %}

{% block app_content %}


<div class="marg-right pad-left">
 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo nulla delectus quidem omnis quasi, consequatur quis obcaecati distinctio, nisi reiciendis blanditiis in illo ratione dicta autem accusantium laboriosam odit dolore.
</div>
<div class="row">
  <div class="push-left col-md red redbox2">
    WHO WE ARE <br> ___________ </br>
    Welcome <br></br>
    Staff <br></br>
    Reputation <br></br>
    History <br></br>
      <img class ="prevent further-right" src="http://placehold.it/156x94" alt="Image">
      Where We Work <p class="small-text">Find out more about our work coverage<br></br>
        More stuff<p>  </div>
      </div>
  <div class="col-md-7 marg-right">
      <table>
      <tr>
        <td><img src="http://placehold.it/300x118" alt="Image"></td>
        <td><img src="http://placehold.it/300x118" alt="Image"></td>
      </tr>
      <tr>
        <td><img src="http://placehold.it/300x118" alt="Image"></td>
        <td><img src="http://placehold.it/300x118" alt="Image"></td>
      </tr>
      <tr>
        <td><img src="http://placehold.it/300x118" alt="Image"></td>
      </tr>
    </table>
   </div>


{% endblock %}
